/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */
html {
	font-size: 62.5%;
}

.container {
	max-width: 1700px;
	margin: 0 auto;
	font-size: 2rem;
}

h1 {
	font-size: 4rem;
}

h1,h2,h3,h4 {
	margin: 20px 0;
}

/* --------------------------- end of standard CSS --------------------------- */

/* ------------------------- beginning of desktop CSS ---------------------- */

body {
    background-color: #F2F1EF;
}
.mainHeader {
    margin: 0 auto;
    background: #d8cfd0; /* Old browsers */
    background: -moz-linear-gradient(left,  #d8cfd0 0%, #d8cfd0 39%, #697184 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #d8cfd0 0%,#d8cfd0 39%,#697184 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #d8cfd0 0%,#d8cfd0 39%,#697184 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8cfd0', endColorstr='#697184',GradientType=1 ); /* IE6-9 */
    max-height: 100px;
    display: flex;
    justify-content: space-between;
}
#logo {
    max-height: 100px;
}
.topLeftBar {
    margin-left: 5.5%;
    display: flex;
    justify-content: space-between;
    width: 700px;
    flex-wrap: wrap;
}
.topLeftBar h3 {
    padding-top: 1em;
    font-size: 2em;
}
.topLeftBar h3 a {
    color: #697184;
    text-decoration: none;
}
.topRightBar {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 5.5%;
}
.topRightBar h3 {
    padding-top: 1em;
    font-size: 2em;
}
.topRightBar h3 a {
    color: #d8cfd0;
    text-decoration: none;
}
#hero {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}
#new {
    color: #697184;
    margin: 2% 0;
    margin-left: 1.5%;
    font-size: 1.4em;
}
.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.txt {
    position: absolute;
    top: 175px;
    width: 100%;
    text-align: center;
    color: #F2F1EF;
    visibility: hidden;
}

.boxContainer {
    height: 200px;
    width: 167px;
    position: relative;
    margin-bottom: 2%;
}

div.coverColor {
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    max-width: 100%;
}
a.boxContainer:hover div.coverColor {
    visibility: visible;
    opacity: .25;
}
a.boxContainer:hover div.txt {
    visibility: visible;
}

#cozy {
    margin-left: 1%;
    font-size: 2em;
    color: #697184;
}
#blog {
    margin-left: 1.5%;
    font-size: 1.4em;
    color: #697184;
    margin-top: 0;
}

.blogPosts {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blogPosts img {
    max-height: 350px;
    margin-bottom: 2%;
    max-width: 100%;
}

.blogContainer {
    height: 350px;
    width: 525.83px;
    position: relative;
    margin-bottom: 2%;
    max-width: 100%;
}
.blogCover {
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
div.blogTxt {
    position: absolute;
    top: 175px;
    width: 100%;
    text-align: center;
    font-size:2em;
    color: #F2F1EF;
    visibility: hidden;
}
a.blogContainer:hover div.blogCover {
    visibility: visible;
    opacity: .3;
}
a.blogContainer:hover div.blogTxt {
    visibility: visible;
}
#hero2 {
    padding-top: 1.5em;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    height: 500px;
}
#cozyBottom {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #413F3D;
    margin-top: 175px;
}
#bottomBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
#bottomBar a {
    color: #697184;
    text-decoration: none;
    font-size: 2em;
}
#footArea {
    width: 400px;
}
#copyright {
    margin-top: 2em;
    font-size: 12px;
}
/* --------------------------- end of desktop CSS --------------------------- */


/* ------------------------ beginning of mobile CSS ------------------------- */
@media only screen and (max-width: 700px){
    .container {
        max-width: 100%;
    }
    .mainHeader {
        display: flex;
        flex-direction: column;
        margin-bottom: 33em;
    }
    .topLeftBar {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .topLeftBar h3 {
        margin-left: 2%;
        padding-top: 0;
        margin-bottom: 0;
    }
    .topRightBar {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-right: 0;
    }
    .topRightBar h3 {
        margin-left: 4%;
        padding-top: 0;
        margin-bottom: 0;
    }
    #newRelease {
        margin-bottom: -2em;
    }
}